ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 40px;
  margin: 10px;
  font-family: sans-serif;
  list-style: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.mainbutton{
  background-color: white;
  border: 2px solid #4CAF50;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
h1{
 text-align: center;
 margin-left: 55%;
 color: green;
 border: solid;
 margin-right:30%;
 padding: 10px;
 font-family: sans-serif;
}
h2{
    text-align: center;
    margin-left: 25%;
}
h3{
 font-size: 350%;
 font-family: sans-serif;
 text-align: center;
 color: green;
 border: solid;
 padding: 10px;
 padding: 10px;
}
p{
 text-align: center;
    margin-left: 25%;
}
form{
 text-align: center;
 margin-left: 25%;
 font-family: sans-serif;
 font-size: 200%;
}
button{
    font-size: 200%;
    margin: 10px;
}